@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.img-menu {
  width: 55px;
}

.hero {
  height: 100vh;
  background: linear-gradient(to bottom, #17ead9 0%, #6078ea 100%);
}

@media (min-width: 992px) {
  .navbar-nav {
    margin-right: 180px;
    margin-top: 20px;
    gap: 40px;
  }
}
