/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Poppins", sans-serif;
}

/* Image menu style */
.img-menu {
  width: 55px; /* Adjust as needed */
}

/* Hero section styles */
.hero {
  height: 100vh;
  background: linear-gradient(to bottom, #17ead9 0%, #6078ea 100%);
}

/* Hero Button */
.submit-btn {
  background: linear-gradient(#17ead9, #6078ea);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  color: white;
}

/* Responsive adjustments for navbar */
@media (min-width: 992px) {
  .navbar-nav {
    margin-right: 180px; /* Adjust margin-right as per your design */
    margin-top: 20px;
    gap: 40px; /* Adjust gap between items */
  }
}
